body {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   background-image: url('/static/images/cuadros.png');
   color: white;
   display: flex;
   flex-direction: column;
   background-size: cover;
}

.container {
   width: 90%;
   margin: 0 auto;
   text-align: center;
}

h1 {
   margin-top: 30px;
   margin-bottom: 10px;
   font-size: 50px;
}

p {
   max-width: 600px;
   margin: 20px auto;
   margin-bottom: 20px;
   line-height: 1.6;
   text-align: justify;
   font-size: 18px;
   font-weight: bold;
   text-align: center;
}

.special-paragraph {
   max-width: 600px;
   margin: 20px auto;
   line-height: 0.5;
   text-align: justify;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
}

button {
   background-image: linear-gradient(to right, #2177fe, #4f5efe, #8a43f7, #8B53EA, #d54bbd);
   color: white;
   border: none;
   padding: 20px 30px;
   border-radius: 30px;
   cursor: pointer;
   font-size: 1em;
   text-transform: uppercase;
   font-weight: bold;
   outline: none;
   transition: background-color 0.3s ease;
}

button:hover {
   background-image: linear-gradient(to right, #2177fe, #4f5efe, #8a43f7, #8B53EA, #d54bbd);
}

footer {
   margin-top: 20px;
   color: #ffffff;
}

.omega-image {
   display: block;
   margin: 20px auto;
   width: 50%;
   max-width: 450px;
   height: auto;
}


@media only screen and (max-width: 600px) {
   .container {
      width: 90%;
      padding: 0 5%;
   }

   .omega-image {
      width: 95%;

   }

   h1 {
      font-size: 24px;
      line-height: 1.2;
      margin-top: 15px;
      margin-bottom: 5px;
   }

   .highlight, p {
      font-size: 16px;
      line-height: 1.4;
      margin-top: 10px;
      margin-bottom: 10px;
      max-width: 100%;
      overflow-wrap: break-word;
   }


   button {
      width: auto;
      margin: 20px 0;
   }


   button:hover {
      background-image: linear-gradient(to right, #2177fe, #4f5efe, #8a43f7, #8B53EA, #d54bbd);
   }

   footer {
      margin-top: 20px;
      color: #ffffff;
   }
}