body {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   background-image: url('/static/images/cuadros.png');
   color: white;
   display: flex;
   flex-direction: column;
   background-size: cover;
}

.container {
   width: 100%;
   max-width: 800px;
   margin: 20px auto;
   padding-top: 20px;
}


.progress-bar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 20px 0;
   padding: 10px;
   position: relative;
}

.step {
   width: 40px;
   height: 40px;
   background-color: #8B53EA;
   border-radius: 50%;
   color: white;
   line-height: 40px;
   text-align: center;
   position: relative;
   z-index: 2;
   font-weight: bold;
}

.bar {
   flex-grow: 2;
   height: 10px;
   padding-top: 2px;
   margin: 10px;
   background-color: #8B53EA;
   z-index: 1;
   border-radius: 10px;
}

.active {
   background-color: #4B0082;
}

.bar.third-to-fourth {
   background-color: #8B53EA;
}

.step.active {
   background-color: #8B53EA;
   margin: 10px;
}

.bar.active {
   background: linear-gradient(to right, #8B53EA, #8B53EA 50%, white 50%, white 100%);
}  

h1 {
   text-align: center;
   margin-bottom: 10px;
   color: white;
   font-size: 40px;
   font-weight: bold;
}

h2 {
   text-align: left;
   margin-bottom: 10px;
   color: white;
   font-size: 25px;
   font-weight: bold;
}

form {
   width: 100%;
   padding: 20px;
   box-sizing: border-box;
}

fieldset {
   border: none;
   background: transparent;
   padding: 0;
   margin: 0;
}

::placeholder {
   color: #ffffffcd;
}

legend {
   color: white;
   text-align: center;
   margin-bottom: 20px;
}

h1 {
   text-align: center;
   margin-bottom: 20px;
   color:
   linear-gradient(#000000 0 0) padding-box,
   linear-gradient(145deg, #DE386A, #8B53EA, #5DC6ED) border-box;
   font-size: 30px;
   font-weight: bold;
}

.selection-area, .creation-area {
   margin-bottom: 20px;
}

.team-select, .new-team-input {
   border-radius: 15px;
   padding: 15px;
   background-color: #000;
   position: relative;
   background:
      linear-gradient(#000000 0 0) padding-box,
      linear-gradient(145deg, #DE386A, #8B53EA, #5DC6ED) border-box;
   color: #ffffffcd;
   border: 5px solid transparent;
   border-radius: 15px;
   display: inline-block;
   margin: 10px 0;
   font-size: 14px;
   outline: none;
}


.submit-button, .create-new-team-btn {
   background-image: linear-gradient(to right, #2177fe, #4f5efe, #8a43f7, #8B53EA, #d54bbd);
   color: white;
   border: none;
   padding: 15px 30px;
   border-radius: 30px;
   cursor: pointer;
   font-size: 20px;
   text-transform: uppercase;
   font-weight: bold;
   outline: none;
   transition: background-color 0.3s ease;
   margin: 20px auto;
   width: auto;
   display: flex;

}

.submit-button:hover, .create-new-team-btn:hover{
   opacity: 0.9;
}

footer {
   color: white;
   text-align: center;
   margin-top: 20px;
}

@media (max-width: 600px) {
    .container {
         width: 90%;
         margin: 10px auto;
      }
   
      .progress-bar {
         margin: 10px 0;
      }
   
      .avatar-options {
         grid-template-columns: 1fr;
      }
   
      .avatar-option {
         padding: 10px;
      }
   
      .avatar-label .title {
         font-size: 12px;
      }
   
      .avatar-label img {
         width: 60px;
      }
   
      .submit-button {
         padding: 10px 20px;
         font-size: 16px;
      }

      .team-select {
         padding: 10px; /* Reducir el padding */
         font-size: 14px; /* Reducir el tamaño de la fuente */
         width: 100%; /* Hacer que el input ocupe todo el ancho disponible */
         margin-bottom: 10px; /* Ajustar el margen inferior si es necesario */
     }

   .submit-button, .create-new-team-btn {
       padding: 15px;
       font-size: 18px;
   }
}

