body {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   background-image: url('/static/images/cuadros.png');
   color: white;
   display: flex;
   flex-direction: column;
   background-size: cover;
}

.container {
   width: 100%;
   max-width: 800px;
   margin: 20px auto;
   padding-top: 20px;
}

.radio-options {
   display: inline-block; /* Permite que los elementos dentro se alineen a la derecha */
   margin: 20px auto;
   padding-top: 20px;

}

.custom-radio {
   display: inline-flex;
   align-items: center;
   margin-left: 50px; /* Espacio entre los botones de radio */
}

.radio-label {
   position: relative;
   padding-left: 50px; 
   cursor: pointer;
   display: flex; /* Utiliza flex para alinear los textos con los círculos */
   align-items: center;
}

.radio-label:before {
   content: '';
   position: absolute;
   top: 50%;
   right: -30px; 
   transform: translateY(-50%);
   height: 20px;
   width: 20px;
   border: 2px solid #ccc;
   border-radius: 50%;
   background-color: #fff;
}

.radio-input {
   display: none; 
}

.radio-input:checked + .radio-label:before {
   background-color: #78BD56;
   border-color: #78BD56;
}
.radio-input:not(:checked) + .radio-label:before {
   background-color: #fff;
   border-color: #ccc;
}

h2 {
   text-align: center;
   margin-bottom: 50px;
   margin-top: 50px;
   color: white;
   font-size: 60px;
   font-weight: bold;
}


fieldset {
   border: none;
   background: transparent;
   padding: 0;
   margin: 0;
}

.form-label{
   font-weight: bold;
   width: calc(100% - 30px);
   margin: 15px auto;
   padding: 15px;
   font-size: 18px;
}

.form-control {
   width: calc(100% - 30px);
   margin: 15px auto;
   padding: 15px;
   color: #ffffffcd;
   background-color: #000;
   position: relative;
   border: 5px solid transparent;
   border-radius: 15px;
   background:
      linear-gradient(#000000 0 0) padding-box,
      linear-gradient(145deg, #DE386A, #8B53EA, #5DC6ED) border-box;
   font-size: 14px;
   outline: none;
   -webkit-appearance: none;
   appearance: none;
   box-sizing: border-box;
   display: block;
}

.form-control:focus {
   background-color: rgba(255, 255, 255, 0.2);
   box-shadow: 0 0 0 2px #8B53EA;
}

.submit-button {
   background-image: linear-gradient(to right, #2177fe, #4f5efe, #8a43f7, #8B53EA, #d54bbd);
   color: white;
   border: none;
   padding: 15px 30px;
   border-radius: 30px;
   cursor: pointer;
   font-size: 20px;
   text-transform: uppercase;
   font-weight: bold;
   outline: none;
   transition: background-color 0.3s ease;
   margin: 20px auto;
   width: auto;
   display: flex;


}
.checkito {
   display: flex;
   justify-content: center; /* This will center the child elements (label and checkbox) */
   align-items: center;
}
.checkito2 {
   margin: 20px auto;
   width: auto;
   display: flex;
   align-items: center;
   align-self: center;
   display: flex;
   text-decoration: none;
   font-weight: bold;
   cursor: pointer;
   color: white; 
   font-size: 18px
}

/* Hidden actual checkbox input */
.checkbox-input {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

/* Custom circle indicator */
.checkbox-custom-circle {
   margin-left: 10px; /* Space between the label text and the circle */
   height: 20px;
   width: 20px;
   border-radius: 50%; /* Makes it round */
   background-color: #bbb; /* Default color, gray for unchecked */
   transition: background-color 0.3s; /* Smooth transition for color change */
}

/* Change the color of the circle when the checkbox is checked */
.checkbox-input:checked + .checkbox-custom-circle {
   background-color: #78BD56; /* Change to green when checked */
}
.submit-button:hover, .create-new-team-btn:hover {
   opacity: 0.9;
}

footer {
   text-align: center;
   margin-top: 20px;
   color: white;
   margin-bottom: 20px;
   margin-top: 40px;
}

@media (max-width: 768px) {
   h2 {
     font-size: 40px; /* Smaller font size for smaller devices */
     margin-top: 20px; /* Less margin for smaller devices */
     margin-bottom: 20px;
   }
 
   .form-label,
   .form-control {
     width: calc(100% - 20px); /* Less padding for smaller devices */
     padding: 5px;
     margin: 5px auto;
   }
 
   .submit-button {
     padding: 10px 20px; /* Smaller button padding */
     font-size: 16px; /* Smaller font size for the button */
   }
 
   .checkito2 {
     font-size: 16px; /* Smaller font size for the checkbox label */
   }
 
   /* Adjust the size of the checkbox for smaller screens */
   .checkbox-custom-circle {
     height: 15px;
     width: 15px;
   }

   .radio-options{
      margin: 20px auto;
   padding-top: 20px;
   }
 }


 