<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/main_page.css') }}"
  />
    <link rel="icon" href="{{ url_for('static', filename='images/icono.png') }}">
    <title>OmegaHack</title>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/omega.png') }}" alt="Logo OmegaHack" class="omega-image">
        <br>

        <form method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.tratamiento_datos() }} {{ form.tratamiento_datos.label }}
                {% if form.tratamiento_datos.errors %}
                    <div class="error">{{ form.tratamiento_datos.errors[0] }}</div>
                {% endif %}
            </div>
            {{ form.submit() }}
        </form>

        <footer>
            Powered by 
            <a href="https://www.instagram.com/novaeafit/" style="text-decoration: none; color: inherit;" target="_blank">NOVA EAFIT</a> 💜
        </footer>        
    </div>
</body>
</html>
