<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icono.png') }}">
    <title>OmegaHack</title>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/omega.png') }}" alt="Logo OmegaHack" class="omega-image">
        <form method="post">
            {{ form.hidden_tag() }}
            <p class="intro-text">Estamos muy emocionados con su participación en la OmegaHack. Para continuar revisa y acepta los términos y condiciones.</p>
            <div class="custom-checkbox">
                <input type="checkbox" id="tratamiento_datos" name="tratamiento_datos">
                <label for="tratamiento_datos" class="bold-text">He leído y acepto los <a href="https://www.eafit.edu.co/datospersonales" target="_blank">términos y condiciones</a>.</label>
                {% if form.tratamiento_datos.errors %}
                    <div class="error">{{ form.tratamiento_datos.errors[0] }}</div>
                {% endif %}
            </div>
            <button type="submit" class="button">{{ form.submit.label }}</button>
        </form>
        <footer>
            Powered by <a href="https://www.instagram.com/novaeafit/" style="text-decoration: none; color: inherit;" target="_blank">NOVA EAFIT</a> 💜
        </footer>        
    </div>
</body>
</html>
