<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="description" content="Formulario de inscripción para la OmegaHack">
    <meta name="keywords" content="OmegaHack, NOVA, EAFIT, hackathon">
    <meta name="author" content="NOVA EAFIT">
    <link rel="icon" href="{{ url_for('static', filename='images/icono.png') }}">
    <title>OmegaHack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
</head>
<body>
    <div class="container">
        <h1>OMEGAHACK 2024</h1>
        <p class="special-paragraph">Haz llegado al formulario de</p>
        <p class="special-paragraph">inscripción para la OmegaHack</p>
        <img src="{{ url_for('static', filename='images/omega.png') }}" alt="Logo OmegaHack" class="omega-image">
        <br>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <button type="submit">Continuar</button>
        </form>

        <footer>Powered by NOVA EAFIT 💜</footer>
    </div>
</body>
</html>
