<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Información Personal</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/icono.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/user_details.css') }}"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2>Información Personal</h2>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.nombre.label(class="form-label") }} {{
          form.nombre(class="form-control") }} {% if form.nombre.errors %}
          <div class="alert alert-danger">{{ form.nombre.errors[0] }}</div>
          {% endif %}
        </div>

        {% for field in form if field.name != 'nombre' and field.type !=
        'CSRFToken' %}
        <div class="form-group">
          {{ field.label(class="form-label") }} {{ field(class="form-control")
          }} {% if field.errors %}
          <div class="alert alert-danger">{{ field.errors[0] }}</div>
          {% endif %}
        </div>
        {% endfor %}

    <!-- Custom checkbox for terms and conditions -->
<div class="checkito">
  <label for="acceptTerms" class="checkito2">
      He leído y acepto los términos y condiciones
      <input type="checkbox" id="acceptTerms" name="acceptTerms" class="checkbox-input" />
      <span class="checkbox-custom-circle"></span>
  </label>
</div>

        <!-- Submit button -->
        <div class="form-group">
          <button type="submit" class="submit-button">Enviar</button>
        </div>
      </form>
    </div>
    <footer>
      Powered by
      <a
        href="https://www.instagram.com/novaeafit/"
        style="text-decoration: none; color: inherit"
        target="_blank"
        >NOVA EAFIT</a
      >
      💜
    </footer>
  </body>
</html>
