<!DOCTYPE html>
<html>
<head>
    <title>Confirm Registration</title>
</head>
<body>
    <h2>Confirm Your Registration Details</h2>
    
    <p><strong>Team:</strong> {{ data.equipo_nombre }}</p>
    <p><strong>Name:</strong> {{ data.participante_nombre }}</p>
    <p><strong>Semester:</strong> {{ data.semestre }}</p>
    <p><strong>EPS:</strong> {{ data.eps }}</p>
    <p><strong>Emergency Contact:</strong> {{ data.contacto_emergencia }}</p>
    <p><strong>Relationship with Emergency Contact:</strong> {{ data.parentesco_contacto_emergencia }}</p>
    <p><strong>Allergies:</strong> {{ data.alergias }}</p>
    <p><strong>Diseases:</strong> {{ data.enfermedades }}</p>
    <p><strong>Emergency Contact Number:</strong> {{ data.numero_contacto_emergencia }}</p>
    <p><strong>Agreed to Data Treatment:</strong> {{ data.seguridad_asistencia }}</p>
    
    <form action="{{ url_for('finalize_registration') }}" method="post">
        <input type="submit" value="Confirm and Register">
    </form>
    <a href="{{ url_for('select_team') }}">Go Back</a>
</body>
</html>
