<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/role_selection.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/icono.png') }}"
    />
    <title>Formulario OmegaHack</title>
  </head>
  <body>
    <div class="container">
      <div class="progress-bar">
        <div class="step">1</div>
        <div class="bar"></div>
        <div class="step active">2</div>
        <div class="bar active"></div>
        <div class="step">3</div>
        <div class="bar third-to-fourth"></div>
        <div class="step">4</div>
      </div>

      <h2>Selecciona tu avatar</h2>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset>
          <legend>
            De acuerdo con tus fortalezas y/o destrezas, selecciona tu avatar
          </legend>
          <div class="avatar-options">
                {% for subfield in form.role %}
                <div class="avatar-option">
                  {{ subfield(class_='role-checkbox') }}
                  <label for="{{ subfield.id }}" class="avatar-label">
                    <div class="title">{{ subfield.label.text }}</div>
                    <img src="{{ url_for('static', filename='images/' + subfield.id + '.png') }}" alt="{{ subfield.label.text }}" />
                    <!-- Aquí se agrega la descripción individual para cada rol -->
                    <span>
                      {% if subfield.label.text == 'Diseño' %}
                      Si sueñas con crear experiencias únicas, interactivas y memorables para los usuarios, ¡este avatar es perfecto para ti!
                      {% elif subfield.label.text == 'Mercadeo' %}
                      Si tu superpoder es resolver problemas de forma creativa y comprender a tu audiencia, ¡este avatar es para ti!
                      {% elif subfield.label.text == 'Negocios' %}
                      Si tienes la destreza de construir puentes entre la idea y su viabilidad comercial, ¡este avatar es para ti!
                      {% elif subfield.label.text == 'Programación' %}
                      Si te emociona el desafío de crear soluciones innovadoras a través del código y la programación, ¡este avatar está hecho para ti!
                      {% endif %}
                    </span>
                    <div class="status-circle"></div>
                  </label>
                </div>
                {% endfor %}
              </div>
              
          </div>
          <button type="submit" class="submit-button">Continuar</button>
        </fieldset>
      </form>
      <footer>
        Powered by 
        <a href="https://www.instagram.com/novaeafit/" style="text-decoration: none; color: inherit;" target="_blank">NOVA EAFIT</a> 💜
    </footer>
        </div>
  </body>
</html>
