<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/team_selection.css') }}"
    />
    <title>Seleccionar Equipo</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/icono.png') }}"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2>Selecciona tu equipo</h2>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <p class="textico">
            Por favor selecciona el grupo al que perteneces, recuerda que la
            OmegaHack será este 13 y 14 de Abril
          </p>
          <br />
          {{ form.equipo(class_="form-control") }} {% if form.equipo.errors %}
          <div class="alert alert-danger">
            {% for error in form.equipo.errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="form-group">{{ form.submit(class_="submit-button") }}</div>
      </form>
      <footer>
        Powered by <a href="https://www.instagram.com/novaeafit/" style="text-decoration: none; color: inherit;" target="_blank">NOVA EAFIT</a> 💜
    </footer>        
    </div>
  </body>
</html>
