<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/team_selection.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/icono.png') }}"
    />
    <title>Selección de Equipo</title>
  </head>
  <body>
    <div class="container">
      <div class="progress-bar">
        <div class="step">1</div>
        <div class="bar"></div>
        <div class="step">2</div>
        <div class="bar third-to-fourth"></div>
        <div class="step active">3</div>
        <div class="bar active"></div>
        <div class="step">4</div>
      </div>

      {% block content %}
      <h2>Selección de Equipo</h2>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="selection-area">
          <label>{{ form.existing_team.label }}</label>
          <br/>
          {{ form.existing_team(class_='team-select', placeholder='Seleccione un equipo') }}
          <br />
         <span>* Si tu equipo no aparece en la lista, crea uno nuevo para que todos puedan unirse</span>
        </div>
        <div class="creation-area">
            <br />
          <span>*Recuerda que los equipos para esta hackathon se componen de minimo cuatro (4) participantes distribuidos en los siguientes roles:</span>
            <ul>
                <li>Mercadeo</li>
                <li>Diseñador</li>
                <li>Negociador</li>
                <li>Programadores</li>
            </ul>
            <h1/>¡Recuerda!</h1>
            <span>Puedes inscribir tu equipo incluso si no tienes a todos los integrantes.
                 Si te falta algún rol, no te preocupes, nosotros nos encargaremos de asignarlo para formar equipos completo</span>
            <br/>
            <br/> 
          <label>{{ form.new_team_name.label }}</label>
          <br />
          {{ form.new_team_name(class_='new-team-input', placeholder='Nombre del equipo') }}
          <br />
          <button type="submit" class="create-new-team-btn">Crear</button>
        </div>
        <button type="submit" class="submit-button">Siguiente</button>
      </form>
      {% endblock %}
      <footer>Powered by NOVA EAFIT 💜</footer>
    </div>
  </body>
</html>
