<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_details.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icono.png') }}">
    <title>Formulario OmegaHack</title>
</head>
<body>
    <div class="container">
        <!-- Barra de progreso -->
        <div class="progress-bar">
            <div class="step active">1</div>
            <div class="bar active"></div>
            <div class="step">2</div>
            <div class="bar"></div>
            <div class="step">3</div>
            <div class="bar"></div>
            <div class="step">4</div>
        </div>

        <!-- Formulario Flask -->
        {% block content %}
            <legend>* Por favor, completa los siguientes datos:</legend>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>{{ form.nombre.label }} {{ form.nombre(class_='gradient-border') }}</div>
            <div>{{ form.correo_institucional.label }} {{ form.correo_institucional(class_='gradient-border') }}</div>
            <div>{{ form.edad.label }} {{ form.edad(class_='gradient-border') }}</div>
            <div>{{ form.universidad.label }} {{ form.universidad(class_='gradient-border') }}</div>
            <div>{{ form.carrera.label }} {{ form.carrera(class_='gradient-border') }}</div>
            <div>{{ form.sexo.label }} {{ form.sexo(class_='gradient-border') }}</div>
            <div class="checkbox-custom">
                {{ form.participado_hackathon.label }}
                <label class="checkbox-label">
                    {{ form.participado_hackathon() }}
                    <span class="checkbox-custom-rect"></span>
                </label>
            </div>
            <div>{{ form.submit(class_='submit-button') }}</div>
        </form>
        {% endblock %}
        
        <!-- Pie de página -->
        <footer>Powered by NOVA EAFIT 💜</footer>
    </div>
</body>
</html>
